<!-- <div class="about-section">
  <h1>About Us Page</h1>
  <br>
  <p>Welcome to Daily Event Tracker, your go-to app for keeping track of your daily events and activities.
    With our app,  you can stay organized, manage your time effectively, and ensure you
     never miss important events again..</p><br>
</div> -->
<body>
  <div class="navbar">
    <ul>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/login">Home</a></li>
    </ul>
  </div>

  <div class="whole">
    <div class="about-section">
      <h1>About Us</h1>
      <p>Welcome to Daily Event Tracker, your trusted companion for managing and organizing your 
        daily events and activities.</p>
      <p> With our app, you can stay on top of your schedule, never miss
        important events, and make the most out of your day.
        At Daily Event Tracker, </p><p> mission is to empower individuals to take control 
        of their daily lives and achieve their goals by providing a reliable and user-friendly 
        event tracking solution.</p><p> We believe that effective time management leads
        to increased productivity, reduced stress, and overall improved well-being.</p>
    </div>
  
  </div>  
  
</body>

<!-- 
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> -->
